# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Other
.DS_Store
kokoro-v0_19.onnx
voices.json
audio/am-radio-static-60183.mp3
audio/paper-turn-40077.mp3

#someones geminii api key
#AIzaSyDzsGJCnE3017fYnOM0Fp_aWs4YtN4d4TI
#serper b86545fdabc35dcb13fd8cc0a9b88c3a17b6dc89